:root {
  --purple-100: hsl(254, 88%, 90%);
  --purple-500: hsl(256, 67%, 59%);
  --yellow-100: hsl(31, 66%, 93%);
  --yellow-500: hsl(39, 100%, 71%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 7%);

  --fw-400: 400;
  --fw-500: 500;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

body {
  font-size: 18px;
  font-family: 'DM Sans', sans-serif;
  font-weight: var(--fw-400);
  line-height: 1;
  letter-spacing: -1.5px;

  background-color: #ccc;

  display: flex;
  justify-content: center;

  margin-block: 2rem;
}

.grid {
  height: 600px;
  width: 100%;
  max-width: 56.25rem;
  padding-inline: 1rem;

  display: grid;
  gap: 1rem;
}

.grid-item {
  border-radius: 0.375rem;
  filter: grayscale(100%);
  transition: all 250ms ease;
}

.grid-item:hover {
  filter: grayscale(0%);
  transform: scale(105%);
}

.grid-item-1 {
  background-color: var(--yellow-100);

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;

  padding-block: 1rem;
  padding-inline: 1rem;
}

.grid-item-1 p {
  font-size: 2rem;
  font-weight: var(--fw-500);
}

.grid-item-1 p span {
  color: var(--purple-500);
  font-style: italic;
}

.grid-item-1 img {
  max-width: none;
  width: 60%;
}

.grid-item-2 {
  background-color: var(--yellow-500);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.5rem;

  padding: 1rem;
}

.grid-item-2 img {
  max-width: none;
  width: 80%;
}

.grid-item-2 p {
  font-size: 2rem;
  font-weight: var(--fw-500);
}

.grid-item-3 {
  background-color: var(--purple-500);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  padding: 1rem;
  color: var(--white);
  letter-spacing: 0;
}

.social-media {
  font-size: 2.25rem;
  font-weight: var(--fw-500);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-media__number {
  color: var(--yellow-500);
}

.social-media__faster {
  font-style: italic;
}

.stars {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.stars p {
  font-size: 0.75rem;
  font-weight: var(--fw-400);
  color: var(--yellow-100);
}

.stars img {
  width: 35%;
}

.grid-item-4 {
  background-color: var(--white);

  padding: 1rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.grid-item-4 p {
  font-size: 1.375rem;
  font-weight: var(--fw-500);
}

.multiple-platforms img {
  filter: drop-shadow(0 5px 12px #ccc);
  border-radius: 100px;
}

.grid-item-5 {
  background-color: var(--white);

  display: flex;
  flex-direction: column;
  gap: 1rem;

  padding: 1rem;
}

.grid-item-5 p {
  font-size: 1.2rem;
  font-weight: var(--fw-500);
  letter-spacing: 0;
}

.grid-item-5 img {
  max-width: none;
  width: 60%;
}

.grid-item-5 .audience-number {
  font-weight: var(--fw-500);
  font-size: 2.75rem;
}

.grid-item-6 {
  background-color: var(--yellow-500);

  padding: 1rem 1rem 0;
}

.grid-item-6 p {
  font-size: 1.375rem;
  font-weight: var(--fw-500);

  margin-bottom: 0.75rem;
  width: 75%;
}

.grid-item-6 img {
  max-width: none;
  width: 60%;
}

.grid-item-7 {
  background-color: var(--purple-500);

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;

  padding: 1rem;
}

.grid-item-7 img {
  width: 70%;
  margin: 0 auto;
}

.grid-item-7 p {
  font-size: 1.65rem;
  color: var(--white);
  text-align: center;
}

.grid-item-8 {
  background-color: var(--purple-100);

  display: flex;
  flex-direction: column;
  gap: 1rem;

  padding: 1.5rem 1rem;
  text-align: center;
}

.text-schedule {
  font-weight: var(--fw-500);
  font-size: 1.5rem;
}

.text-optimize {
  font-size: 1rem;
  letter-spacing: 0;
}

@media (min-width: 700px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }

  .grid-item-1 {
    grid-row: 1 / span 3;
    grid-column: 1;

    gap: 1rem;
    padding-block: 0;
  }

  .grid-item-1 img {
    max-width: 100%;
    width: 100%;
  }

  .grid-item-1 p {
    font-size: 1.5rem;
  }

  .grid-item-2 {
    grid-row: 4 / span 3;
    grid-column: 1;

    gap: 0;
  }

  .grid-item-2 p {
    font-size: 1.5rem;
  }

  .grid-item-2 img {
    max-width: 100%;
    width: 100%;
  }

  .grid-item-3 {
    grid-column: 2 / 4;
    grid-row: 1 / 3;
  }

  .grid-item-4 {
    grid-column: 2 / 3;
    grid-row: 3 / span 2;

    padding: 1rem 0 1rem 1rem;
    overflow: hidden;

    justify-content: space-between;
  }

  .multiple-platforms img {
    max-width: none;
    width: 137%;
  }

  .grid-item-5 {
    grid-row: 5 / 7;
    grid-column: 2 / 3;

    justify-content: space-between;
    gap: 0;
  }

  .grid-item-5 p {
    font-size: 0.875rem;
  }

  .grid-item-5 img {
    width: 90%;
  }

  .grid-item-5 .audience-number {
    font-size: 3rem;
  }

  .grid-item-6 {
    grid-column: 3 / 4;
    grid-row: 3 / span 2;

    overflow: hidden;
  }

  .grid-item-7 {
    grid-column: 3 / span 2;
    grid-row: span 2;

    flex-direction: row;
    gap: 0.75rem;
  }

  .grid-item-7 img {
    width: 40%;
    max-width: 100%;
  }

  .grid-item-7 p {
    flex-grow: 1;

    display: flex;
    align-items: center;

    text-align: left;
  }

  .grid-item-8 {
    grid-row: 1 / span 4;
    grid-column: 4;

    justify-content: space-evenly;
    gap: 0;

    padding: 0 0 0 1.5rem;
    overflow: hidden;
  }

  .grid-item-8 img {
    max-width: none;
    width: 157%;
  }

  .text-schedule {
    font-size: 1.1rem;
  }

  .text-optimize {
    font-size: 0.75rem;
  }
}
